<!DOCTYPE html>
{% load static %}
{% load django_htmx %}
<html lang="fr">
  <head>
    <title>La boulange de la ferme du Resto</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="Cache-Control" content="no-cache">
    {% if not to_print %}
    <link rel="stylesheet" href="{% static 'boulange/picnic.min.css' %}">
    <style>
      .card { font-size: 90%; padding: 2px;}
      .small { font-size: 80%; }
      .big { font-size: 120%; }
      .leftbordered { border-left: 1px solid; padding-left: 20px; margin-bottom: 20px;}
    </style>
    {% else %}
    <style>
      body {
          column-count: 3;
          -webkit-column-count: 3;
          -moz-column-count: 3;
          font-size: 14px;
          line-height: 16px;
      }
    </style>
    {% endif %}
    {% htmx_script %}
  </head>

  <body hx-headers='{"x-csrftoken": "{{ csrf_token }}"}'>
    {% if not to_print %}
    <main style="max-width: 960px; margin: 0 auto;">
      <section class="flex">
	<a href="{% url 'boulange:index' %}">
          <img alt="La ferme du Resto" src="{% static 'boulange/logo.jpg' %}">
	</a>
	<div style="margin: 110px 110px 0 0; text-align: center;">
	  {% if not request.user.is_anonymous %}
	  Hello, {{ request.user.username }}
	  <br/>
	  <form action="{% url 'logout' %}" method="POST">
	    {% csrf_token %}
	    <button class="small pseudo">- se déconnecter -</button>
	  </form>
	  {% endif %}
	</div>
	<div style="margin-top: 80px;">
	  {% if request.user.is_staff %}
          <a href="{% url 'boulange:products' %}">Produits</a>
          <br>
          <a href="{% url 'boulange:actions' %}">Actions</a>
          <br>
	  {% endif %}
          <a href="{% url 'boulange:orders' %}">Mes commandes</a>
	  <br>
	  <a href="{% url 'boulange:checkouts' %}">Mes paiements</a>
	</div>
      </section>
      <h1>{% block title %}{% endblock %}</h1>
      {% block page_actions %}{% endblock %}
      {% endif %}
      {% block content %}{% endblock %}
    </main>
  </body>
</html>
