<!DOCTYPE html>
{% load static %}
{% load django_bootstrap5 %}
<html lang="fr">
  <head>
    <title>La boulange de la ferme du Resto</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    {% if not print %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'boulange/custom.css' %}">
    {% else %}
    <style>
      body {
         column-count: 3;
         -webkit-column-count: 3;
         -moz-column-count: 3;
         font-size: 12px;
         line-height: 14px;
      }
    </style>
    {% endif %}
  </head>

  <body>
    {% if not print %}
    <header class="container d-print-none">
      <nav class="row align-items-center">
        <div class="col">
          <img class="col" alt="La ferme du Resto" src="{% static 'boulange/logo.jpg' %}">
        </div>
        <div class="col">
          Hello, {{ request.user.username }}
        </div>
        <div class="col">
          <a href="{% url 'boulange:products' %}">Produits</a>
          <br>
          <a href="{% url 'boulange:my_orders' %}">Mes commandes</a>
          <br>
          <a href="{% url 'boulange:actions' %}">Actions</a>
        </div>
      </nav>
      <h1>{% block title %}{% endblock %}</h1>
      {% block page_actions %}{% endblock %}
    </header>
    {% endif %}

    <main>
      {% block content %}{% endblock %}
    </main>
  </body>
</html>