{% extends "boulange/base.html" %}

{% block title %}Bon de livraison : {{ delivery_date }}{% endblock %}

{% block content %}
<section>
  Total pdl : {{ delivery_date.get_total|floatformat:2 }}€
  {% for order in orders %}
  <div>
    <div>
      <h3>{{ order.customer }} {{ order.total_price|floatformat:2 }}€</h3>
      {% if order.notes %}
      <p>Notes de la commande :
      <pre>{{ order.notes }}</pre>
      </p>
      {% endif %}
      {% if order.customer.notes %}
      <p>Notes du client :
      <pre>{{ order.customer.notes }}</pre>
      </p>
      {% endif %}
      {% if order.lines.all %}
      <ul>
        {% for line in order.lines.all %}
        <li>{{ line.product.name }}/{{ line.product.ref }} : {{ line.quantity }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</section>
{% endblock %}
