{% extends "boulange/base.html" %}

{% block title %}Bon de livraison : {{ delivery_date }}{% endblock %}

{% block content %}
<section class="container">
  Total pdl : {{ delivery_date.get_total|floatformat:2 }}€
  {% for order in orders %}
  <div class="card">
    <div class="card-body">
      <h3 class="card-title">{{ order.customer }} {{ order.total_price|floatformat:2 }}€</h3>
      {% if order.notes %}
      <p>Notes de la commande :
      <pre>{{ order.notes }}</pre>
      </p>
      {% endif %}
      {% if order.customer.notes %}
      <p>Notes du client :
      <pre>{{ order.customer.notes }}</pre>
      </p>
      {% endif %}
      {% if order.lines.all %}
      <ul class="list-group">
        {% for line in order.lines.all %}
        <li class="list-group-item">{{ line.product.name }}/{{ line.product.ref }} : {{ line.quantity }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</section>
{% endblock %}
