{% extends "boulange/base.html" %}

{% block title %}Mes commandes{% endblock %}

{% block content %}
<section class="container">
  <h2>Nouvelle commande</h2>
  <form method="post">
    {{ order_form }}
    {{ line_formset }}
    <input type="submit" value="Enregistrer la commande">
  </form>
</section>
<section class="container">
  <h2>Mes commandes</h2>
  {% for order in orders %}
  <div class="mt-5">
    <h3>{{ order.delivery_date }} : {{ order.total_price }}€</h3>
    {% if order.lines.all %}
    <ul>
      {% for line in order.lines.all %}
      <li>{{ line }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
  {% endfor %}
</section>
{% endblock %}
