<h2>Commandes</h2>
<ul>
  {% for delivery_date in delivery_dates %}
  <li>
    {{ delivery_date }}
    <ul>
      {% for order in delivery_date.order_set.all %}
      <li>
	{{ order.customer }}
	<ul>
	  {% for orderline in order.orderline_set.all %}
	  <li>{{ orderline }}</li>
	  {% endfor %}
	</ul>
      </li>
      {% endfor %}
    </ul>
  </li>
  {% endfor %}
</ul>

<h3>TODO</h3>
<ul>
  {% for date in todo %}
  <li><a href="{% url 'actions' date.year date.month date.day %}">{{ date }}</a></li>
  {% endfor %}
</ul>
