{% extends "boulange/base.html" %}

{% block title %}Commandes{% endblock %}

{% block page_actions%}
<form style="display: inline; border: none; padding: 0;" method="post">
  {% csrf_token %}
  {{ form }}
  <button type="submit" name="span" value="day" style="padding: 0.1rem;">jour</button>
  <button type="submit" name="span" value="week" style="padding: 0.1rem;">semaine</button>
  <button type="submit" name="span" value="month" style="padding: 0.1rem;">mois</button>
  <button type="submit" name="span" value="year" style="padding: 0.1rem;">année</button>
</form>
{% endblock %}


{% block content %}
<section>
  {% for delivery_date in delivery_dates %}
  <aside>
    <h2>{{ delivery_date }}</h2>
    <ul>
      {% for order in delivery_date.all_orders %}
      <li>
	{{ order.customer }} <a href="{% url 'boulange:receipt' order.id %}">BdL</a>
	<ul>
	  {% for orderline in order.orderline_set.all %}
	  <li>{{ orderline }}</li>
	  {% endfor %}
	</ul>
      </li>
      {% endfor %}
    </ul>
  </aside>
  {% endfor %}
</section>
{% endblock %}
