{% extends "boulange/base.html" %}

{% block title %}Produits{% endblock %}

{% block content %}
<section class="container">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
    {% for product in products %}
    {% if product.active %}
    <div class="col mt-5">
      <h2>{{ product.ref }}</h2>
      <b>{{ product.name }}</b>
      <ul>
	{% if product.orig_product %}
	Identique à <b>{{ product.orig_product.ref }}</b> avec un coef {{ product.coef }}
	{% else %}
	{% for line in product.raw_ingredients.all %}
	<li>{{ line.ingredient.name }} : {{ line.quantity }} {{ line.ingredient.unit }}</li>
	{% endfor %}
	{% endif %}
      </ul>
      Prix de vente : {{ product.price|floatformat:2 }}€
      <br>
      Prix de revient : {{ product.cost_price|floatformat:2 }}€
      <br>
      Poids pâte : {{ product.weight|floatformat:2 }}g
      {% if product.notes %}
      <pre>{{ product.notes }}</pre>
      {% endif %}
    </div>
    {% endif %}
  {% endfor %}
  </div>
</section>
{% endblock %}
