{% extends "boulange/base.html" %}

{% block title %}Bon de livraison : {{orders.0.customer}}/{{ orders.0.delivery_date.date|date:"F Y" }}{% endblock %}

{% block content %}
<section>
  {% for order in orders %}
  <p>
    <table>
      <tr>
	<th>Designation</th>
	<th>Quantité</th>
	<th>Prix unitaire {% if orders.0.customer.is_professional %}HT {% endif %}(€)</th>
	<th>Prix {% if orders.0.customer.is_professional %}HT {% endif %}(€)</th>
      </tr>
      {% for orderline in order.orderline_set.all %}
      <tr>
	<td>{{ orderline.product.name }}</td>
	<td>{{ orderline.quantity }}</td>
	<td>{{ orderline.product.price }}</td>
	<td>{{ orderline.get_price }}</td>
      </tr>
      {% endfor %}
      <tr>
	<th colspan="3">Total :</th>
	<th>{{ order.get_total_price }}</th>
      </tr>
    </table>
  </p>
  {% endfor %}
  {% if not monthly %}
  <a href="{% url 'boulange:monthly_receipt' orders.0.customer.id orders.0.delivery_date.date.year orders.0.delivery_date.date.month %}">BdL mensuel de {{ orders.0.customer }}</a>
  {% else %}
  <h2>Total {{ orders.0.delivery_date.date|date:"F Y" }} : {{ total }}€ {% if orders.0.customer.is_professional %}HT{% endif %}</h2>
  {% endif %}
</section>
{% endblock %}
