{% extends "boulange/base.html" %}

{% block title %}{% endblock %}

{% block content %}
<section>
  <form method="POST">
    {% csrf_token %}
    <p>
      Bonjour {{ token.customer.username }},
    </p>
    <p>
      Votre nouveau mot de passe :
      <input type="hidden" name="token"></input>
      <input type="password" name="newpw"></input>
      <input type="submit"></input>
    </p>
    <p>
      Attention à ne pas utiliser un mot courant, longueur minimale 8 caractères.
    </p>
  </form>
</section>
{% endblock %}
